/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import "tailwindcss"; */

/* [x-cloak] {
    display: none;
} */ 
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');  

@import "tailwindcss";

@config "./../../tailwind.config.js";
/* @plugin "flowbite/plugin";  
@source "../node_modules/flowbite"; */
